<h1>Welcome to the SMS Reminder App</h1>
<%#= link_to 'Reminder List', controller: 'reminders' %>
<%= link_to 'New Reminder', new_reminder_path %><br>
<%= link_to 'List of Reminders', reminders_path%>
<p>Leave reminders here.<br>
</p>

