// Place all the styles related to the Welcome controller here.

h1{
    font-size: 50px;
    color: black;
}
p{
    font-size: 20px;
    color: yellow;
}
body{
    background: rgb(211, 211, 211);
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
