//Place all the styles related to the Welcome controller here.

h1{
    font-size: 50px;
    color: black;
}
p{
    font-size: 20px;
    color: ForestGreen;
    
}
body{
    background-image: image-url('new.jpg');
    background-size: cover;
}

input[type=button], input[type=submit]{
    background-color: ForestGreen ;
    float: right;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    
}

#back1, #back2, #back3 {
    background-color: ForestGreen ;
    float: left;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

//#buttons{
//    margin: auto;
//    width: 50%;
//    text-align: center;
//}

#mainbutton1, #mainbutton2,{
    background-color: ForestGreen ;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 17px;
    padding: 20px; 
    width: 200px;
    height: 30px; 
    margin-top: 100px;
}

#mainbutton3{
    background-color: Gold ;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 17px;
    padding: 20px; 
    width: 200px;
    height: 30px; 
    margin-top: 100px;
}


h1 {
    padding: 50x;
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
